<section>
  <h2>Sign-up for ComicComet!</h2>
  
  <form 
    [formGroup]='registrationForm' 
    (submit)='onSubmitRegistration()'
  >
    <app-messages></app-messages>
      <div class='group'>
        <label for='email'>Email Address </label>
        <app-info [bubbleText]='messages.EMAIL_FORMAT'></app-info>
      </div>
      <input 
        type='email'
        placeholder='email@example.com'
        formControlName='email'
        data-test='email-input'
      />
      <div class='group'>
        <label for='name'>User Name </label>
        <app-info [bubbleText]='messages.NAME_FORMAT'></app-info>
      </div>
      <input 
        type='name'
        placeholder='Example Name'
        formControlName='name'
        data-test='name-input'
      />
      <div class='group'>
        <label for='password'>Password </label>
        <app-info [bubbleText]='messages.PASSWORD_FORMAT'></app-info>
      </div>
      <input 
        type='password'
        placeholder='Ex@m3!lePa$$wo%d'
        formControlName='password'
        data-test='password-input'
      />
      <div class='group'>
        <label for='password-confirmation'>Password Confirmation</label>
        <app-info [bubbleText]='messages.PASSWORD_CONFIRMATION_NOTE'></app-info>
      </div>
      <input 
        type='password'
        placeholder='re-enter password here'
        formControlName='passwordConfirmation'
        data-test='password-confirmation-input'
      />
      <button type='submit'>Register</button>
      <a routerLink='/login'>
        <p>Already have an account? Login here!</p>
      </a>
  </form>
</section>
