<section>
    <div id='coverArt'>
        <img [src]='comicBookService.getSrcString(cartItem)' alt='comic book cover art'>
    </div>
    <div id='words'>
        <div class='row'>
            <p>Name:</p>
            <p>{{ cartItem.name }}</p>
        </div>
        <div class='row'>
            <p>Price:</p>
            <p>${{ cartItem.price }}</p>
        </div>
        <div class='row'>
            <p>Quantity:</p>
            <p>1</p>
        </div>
        <button 
            class='removeButton'
            type='button'
            (click)='removeFromCart()'
        >
            Remove
        </button>
    </div>
</section>
