section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    height: 25.6875rem;/*10.25px * 30 * 16*/
    width: 12.421875rem;/*6.625px * 30 * 16*/
}

#coverArt, #words {
    flex: 1 1 12.5rem;
}

#words {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--accent-light);
}

.removeButton {
    align-self: center;
    width: 8rem;
    height: 1.3rem;
    margin-left: 0.3rem;
    border: 0.01rem solid var(--secondary-color);
    background-color: var(--accent-dark);
    color: var(--secondary-color);
    transition: width 0.2s;
}

.removeButton:hover, .removeButton:focus {
    width: 10rem;
    height: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--accent-dark);
    cursor: pointer;
}
