<section>
    <div id='oneRow'>
        <h2>Comic Book Details</h2>
        <a [routerLink]="['/comic-books']">Back</a>
    </div>
    <div id='layout'>
        <div id='coverArt'>
            <img [src]='getSrcString()' alt='comic book cover art'>
        </div>
        <div id='words'>
            <div class='row'>
                <p>Name:</p>
                <p>{{ comicBook.name }}</p>
            </div>
            <div class='row'>
                <p>Author:</p>
                <p>{{ comicBook.author }}</p>
            </div>
            <div class='row'>
                <p>Price:</p>
                <p>${{ comicBook.price }}</p>
            </div>
            <div class='row'>
                <p>No. In-Stock:</p>
                <p>{{ comicBook.quantity }}</p>
            </div>
        </div>
    </div>
</section>
