
#oneRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a {
    margin-top: 1.45rem;
    width: 10.5rem;
    height: 1.5rem;
    text-decoration: none;
    text-align: center;
    align-self: center;
    box-shadow: 0.2rem 0.02rem 0.8rem 0.5rem var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--accent-light);
    transition: width 0.2s, height 0.2s;
}

a:hover, a:focus {
    width: 11rem;
    height: 1.6rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

#layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    height: 25.6875rem;/*10.25px * 30 * 16*/
    width: 12.421875rem;/*6.625px * 30 * 16*/
}

#coverArt, #words {
    flex: 1 1 12.5rem;
}

#words {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--accent-light);
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
