footer {
    display: grid;
    place-items: center;
    width: 100%;
    height: 60vh;
    margin:auto;
    background-color: var(--accent-dark);
}

nav {
    display: flex;
    flex-flow: column wrap;
}

a {
    grid-column: 1/ span 1;
    width: 10.5rem;
    height: 1.5rem;
    padding-top: 0.5rem;
    text-decoration: none;
    text-align: center;
    align-self: center;
    background-color: var(--accent-dark);
    color: var(--primary-color);
    transition: width 0.2s, height 0.2s;
}

a:hover, a:focus {
    width: 11rem;
    height: 1.6rem;
    background-color: var(--primary-color);
    color: var(--accent-dark);
    cursor: pointer;
    padding-bottom: 0.2rem;
}

p {
    color: var(--primary-color);
    text-align: center;
}
