.error {
    display: flex;
    flex-direction: row;
    padding: 0.1rem;
    color: var(--secondary-color);
    background-color: var(--accent-dark);
}

button {
    align-self: center;
    width: 2rem;
    height: 1.3rem;
    margin-left: 0.3rem;
    border: 0.01rem solid var(--secondary-color);
    background-color: var(--accent-dark);
    color: var(--secondary-color);
    transition: width 0.2s;
}

button:hover {
    width: 2.5rem;
    height: 1.5rem;
    background-color: var(--secondary-color);
    color: var(--accent-dark);
    cursor: pointer;
}
