<section>
  <h2>Welcome to</h2>
  <img src='/assets/comic-comet-log-395-no-padding.png' />
  
  <form 
    [formGroup]='loginForm' 
    (submit)='onSubmitLogin()'
  >
    <app-messages></app-messages>  
      <label for='email'>Email Address </label>
      <input 
        type='email'
        placeholder='email@example.com'
        formControlName='email'
        data-test='email-input'
      />
      <label for='password'>Password </label>
      <input 
        type='password'
        placeholder='Ex@m3!lePa$$wo%d'
        formControlName='password'
        data-test='password-input'
      />
      <button type='submit'>Login</button>
      <a [routerLink]="['/register']">
        <p>Don't have an account? Register here!</p>
      </a>
  </form>
</section>
