<section>
    <div 
        class='row top'
        data-test='cart-section'
    >
        <h2>Cart</h2>
        <a [routerLink]="['/comic-books']">Back</a>
        <a
            *ngIf='cart.length > 0'
            [routerLink]="['/address-confirmation']"
        >
            Proceed to Checkout
        </a>
    </div>
    <div 
        id='cart' 
        *ngIf='cart.length > 0 else showEmptyCartMessage'
    >
        <app-cart-item
            *ngFor='let comicBook of cart'
            [cartItem]='comicBook'
            (removeCartItemEvent)='removeCartItem($event)'
        >
        </app-cart-item>
    </div>
    <ng-template #showEmptyCartMessage>
        <p> {{ emptyCartMessage }}</p>
    </ng-template>
</section>
