<section>
  <div
    class='row top'
    data-test='cart-section'
    >
    <h2>Cart</h2>
    <a [routerLink]="['/comic-books']">Back</a>
    @if (cart.length > 0) {
      <a
        [routerLink]="['/address-confirmation']"
        >
        Proceed to Checkout
      </a>
    }
  </div>
  @if (cart.length > 0) {
    <div
      id='cart'
      >
      @for (comicBook of cart; track comicBook) {
        <app-cart-item
          [cartItem]='comicBook'
          (removeCartItemEvent)='removeCartItem($event)'
          >
        </app-cart-item>
      }
    </div>
  } @else {
    <p> {{ emptyCartMessage }}</p>
  }
</section>
