<div id='imageContainer'>
    <img src='/assets/comic-comet-log-395-no-padding.png' />
</div>
<header>
    <nav>
        <a [routerLink]="['/cart']">View Cart</a>
        <a [routerLink]="['/orders']">View Orders</a>
    </nav>
    <div>
        <a id='contactUs' [routerLink]="['/contact-us']">Contact Us</a>
        <button 
            type='button'
            class='button'
            (click)='logout()'
        >
            Logout
        </button>
    </div>
</header>
<app-messages></app-messages>  
<app-comic-book-catalogue></app-comic-book-catalogue>
<app-footer></app-footer>
