<section>
  <img [src]='comicBookService.getSrcString(comicBook.coverArt)' alt='comic book cover art'>
  <h2>{{ comicBook.name }}</h2>
  <a [routerLink]="['/comic-book', comicBook.comicBookId]">Details</a>
  @if (!cartItem) {
    <button
      class="cartButton"
      type='button'
      (click)='addToCart()'
      >
      Add to Cart
    </button>
  } @else {
    <button
      class="cartButton"
      type='button'
      (click)='removeFromCart()'
      >
      Remove from Cart
    </button>
  }
</section>
