<section>
    <img [src]='comicBookService.getSrcString(comicBook)' alt='comic book cover art'>
    <h2>{{ comicBook.name }}</h2>
    <a [routerLink]="['/comic-book', comicBook.comicBookId]">Details</a>
    <button 
        class="cartButton"
        *ngIf='!cartItem else showRemoveButton'
        type='button'
        (click)='addToCart()'
    >
        Add to Cart
    </button>
    <ng-template  #showRemoveButton>
        <button 
            class="cartButton"
            type='button'
            (click)='removeFromCart()'
        >
            Remove from Cart
        </button>
    </ng-template>
</section>
